# Server Configuration
PORT=3000

# Auto-Update Service Configuration
# Habilitar/deshabilitar el sistema de actualización automática
AUTO_UPDATE_ENABLED=false

# Intervalo de verificación en horas (por defecto 24 horas)
AUTO_UPDATE_CHECK_INTERVAL_HOURS=24

# URL del repositorio de datos Pokemon TCG
AUTO_UPDATE_REPOSITORY_URL=https://github.com/PokemonTCG/pokemon-tcg-data

# Sanity CMS Configuration
SANITY_API_TOKEN=sklZlmKmXU7r8EstCW6fihjPRYmvz9uBhAH8xYu9pxTs0U2fuYXOCfgd5ANsl5vri7LQe8Vi7Iln0Sv8eZMIn1jeEMoaKl1FO2ww2LooHw21gOreLUR1HgOhaJku24XKvk8clLs2x7JShl271oUQ9XolpEJY0rvgeYcKSFl2AfMhmOIKJKZF

# Otras configuraciones del proyecto...
# DATABASE_URL=
# JWT_SECRET=
# STRIPE_SECRET_KEY=
# BREVO_API_KEY=